@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager
/* 
* 0 - 600px - Phone
* 600 - 900px - Tablet Portrait
* 900 - 1200px - Tablet Landscape
* 1200 - 1800px - Normal Styles apply
* 1800px ++ - Big Desktop
* $breakpoint argument choices:phone,tablet-portrait,tablet-landscape,big-desktop
* media queries rem units are not effected by root font size & not the best for media queries.
* use ems (1em -16px)
* Order of media queries: Base, Typography, general layout, grid, page layout & finally components
*/

@mixin respond($breakpoint) {
  @if ($breakpoint == phone) {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if ($breakpoint == tablet-portrait) {
    //900px
    @media only screen and  (max-width: 56.25em) {
      @content;
    }
  }
  @if ($breakpoint == tablet-landscape) {
    //1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if ($breakpoint == big-desktop) {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
